<nav class="navbar">

  <!-- LOGO -->
  <a routerLink="/" class="logo">

    <img
      src="assets/images/logo.jpeg"
      alt="Cultured Kitchen Logo"
    />

    <div class="logo-text">
      <span class="brand-name">Cultured Kitchen</span>
      <span class="brand-tagline">
        Household Wares & Souvenirs
      </span>
    </div>

  </a>


  <!-- NAVIGATION -->
  <div class="nav-links">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>

    <a
      routerLink="/shop"
      routerLinkActive="active"
    >
      Shop
    </a>

 <a
  routerLink="/cart"
  routerLinkActive="active"
  class="cart-btn"
>
  <span class="cart-icon">
    🛒
  </span>

  <span>
    Cart
  </span>

  <span
    class="cart-badge"
    *ngIf="cartItemCount > 0"
  >
    {{ cartItemCount }}
  </span>
</a>

    <a
      routerLink="/admin-login"
      class="admin-btn"
    >
      Admin
    </a>

  </div>

</nav>